.imagehaut
{
top:0px;
left:0px;
width: 200px;
height: 120px;
background-image: url('LOGO.jpg');
background-repeat: no-repeat;
background-position: left bottom ;
position:absolute;
}

nav {
	margin-left:auto; /* Ces 6 lignes permettent de centrer les éléments */
	margin-right:auto;
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	/*margin-left:auto;
	margin-right:auto;
	position: relative;
	 */
	width: 750px;
	height: 150px;
	background-color: #34495e;
	border-radius: 25px; /* Angle bordure menu déroulant */
	font-size: 0;
}
nav a {
	line-height: 20px; /* Pemet la mise à la ligne de chaque phrase */
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1; /* Fixe animation */
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%; /* Hauteur animation rouge sur menu déroulant */
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 20%;
	left: 0%;
	background-color: #e74c3c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 20%;
	left: 20%; /* Début fin animation */
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 20%;
	left: 40%;
	background-color: #e74c3c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 20%;
	left: 60%;
	background-color: #e74c3c;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: #e74c3c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

footer {
	background-color: #454647;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0
}
